@model Langben.DAL.EmployeeGoonPayment2View
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
<script src="~/Scripts/JScriptIndex.js"></script>
<div id="divQuery" data-options="region:'north',border:false" style="height:80px">

    <table>
        <tr>
            <td rowspan="3">
                @Html.LabelFor(model => model.CertificateNumber):
            </td>
            <td rowspan="3">
                <textarea rows="3" id="CertificateNumber" style="width:150px"></textarea>
            </td>


            <td>
                @Html.LabelFor(model => model.YearMonth):
            </td>
            <td>
                <input type="text" id="YearMonth" onclick="WdatePicker({dateFmt:'yyyyMM',realDateFmt:'yyyyMM'})" />
            </td>

        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.CompanyName):
            </td>
            <td>
                @Html.TextBox("CompanyName")
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.UserName_ZR):
            </td>
            <td>
                @Html.DropDownList("UserID_ZR", (SelectList)ViewBag.listUserKF, "请选择", new { ID = "UserID_ZR", @class = "easyui-combobox", @style = "font-size:14px;" })
            </td>

            <td>
                <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
                    查 询
                </a>
            </td>
        </tr>

    </table>

    <div id="toolbar" class="datagrid-toolbar">
        @{
            if (ViewBag.PassButton)
            {
                <a href="javascript:void(0);" class="easyui-linkbutton"
                   data-options="plain:true,iconCls:'icon-ok'" onclick="pass()">确认</a>
            }
        }
        @{
            if (ViewBag.EndButton)
            {
                <a href="javascript:void(0);" class="easyui-linkbutton"
                   data-options="plain:true,iconCls:'icon-no'" onclick="end()">终止</a>
            }
        }
    </div>

</div>
<br style="clear: both;" />

<script type="text/javascript" language="javascript">
    $(function () {
        $("#UserID_ZR").combobox({
            onSelect: function () {
                //如果不写onSelect方法，就无法获取下拉框选择的值
            }
        });

        $('#flexigridData').datagrid({
            title: '确认调基数据列表', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            striped: true,
            fit:true,
            collapsible: false,
            url: '../api/EmployeeGoonPayment2Api/PostApproveList', //获取数据的url
            toolbar: '#toolbar',
            columns: [[
                  { field: 'CompanyEmployeeRelationId', checkbox: true, align: 'center', width: 200 }
                , { field: 'CompanyName', title: '@Html.DisplayNameFor(model => model.CompanyName)', align: 'center', width: 80 }
                , { field: 'Name', title: '@Html.DisplayNameFor(model => model.Name)', align: 'center', width: 80 }
                , { field: 'CertificateNumber', title: '@Html.DisplayNameFor(model => model.CertificateNumber)', align: 'center', width: 160 }
                , { field: 'City', title: '@Html.DisplayNameFor(model => model.City)', align: 'center', width: 80 }
                , { field: 'PoliceAccountNature', title: '@Html.DisplayNameFor(model => model.PoliceAccountNature)', align: 'center', width: 100 }
                , { field: 'InsuranceKindName', title: '@Html.DisplayNameFor(model => model.InsuranceKindName)', align: 'center', width: 100 }
                , {
                    field: 'YearMonth', title: '@Html.DisplayNameFor(model => model.CreateTime)', align: 'center', width: 100
                }
                , {
                    field: 'AddIds', title: '详情', align: 'center', width: 80, formatter: function (value, row, index) {

                        return '<a href="#" onclick="detailInfo(' + row.CompanyEmployeeRelationId + ')">详情</a> ';
                    }
                }

            ]],
            pagination: true,
            rownumbers: true,
            singleSelect: false, //允许选择多行
            selectOnCheck: true,//true勾选会选择行，false勾选不选择行, 1.3以后有此选项
            checkOnSelect: true
            //, //true选择行勾选，false选择行不勾选, 1.3以后有此选项
            //onClickRow: function (rowIndex, rowData) {
            //    $(this).datagrid('unselectRow', rowIndex);
            //}

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });


    //“查询”按钮，弹出查询框
    function flexiQuery() {

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
            if (this.id)
                search = search + this.id + "&" + this.value + "^";
            else
                search = search + this.name + "&" + this.value + "^";
        });
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };

    //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
    function flexiSelect() {

        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }

        var arr = [];
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].Id);
        }
        arr.push("^");
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].Wage);
        }
        //主键列和显示列之间用 ^ 分割   每一项用 , 分割
        if (arr.length > 0) {//一条数据和多于一条
            returnParent(arr.join("&")); //每一项用 & 分割
        }
    }

    //确认
    function pass() {
        //var rows = $('#flexigridData').datagrid('getSelections');
        var checkedItems = $('#flexigridData').datagrid('getChecked');
        var ids = [];
        $.each(checkedItems, function (index, item) {
            ids.push(item.AddIds);
        });
        if (ids.length == 0) {
            window.parent.$.messager.alert("警告", "请先选择数据", "warning");
        }
        else {
            $.messager.confirm('操作提示', "确认审核通过这 " + ids.length + " 项吗？", function (r) {
                if (r) {
                    $.ajax({
                        url: "../api/EmployeeGoonPayment2Api/EmployeePass?query=" + ids.join(","),
                        type: "POST",
                        success: function (res) {
                            if (res.Code == 1) {
                                //移除审核通过的数据

                                $.messager.alert('操作提示', res.Message, 'info');
                                $("#flexigridData").datagrid("reload");
                                //$("#flexigridData").datagrid("clearSelections");
                            }
                            else {
                                $.messager.alert('操作提示', res.Message, 'info');
                            }

                        }
                    })
                }
            });
        }
    }

    //终止
    function end() {

        var checkedItems = $('#flexigridData').datagrid('getChecked');
        var ids = [];
        $.each(checkedItems, function (index, item) {
            ids.push(item.AddIds);
        });
        if (ids.length == 0) {
            window.parent.$.messager.alert("警告", "请先选择数据", "warning");
        }
        else {
            $.messager.confirm('操作提示', "确认审核终止这 " + ids.length + " 项吗？", function (r) {
                if (r) {
                    $.ajax({
                        url: "../api/EmployeeGoonPayment2Api/EmployeeEnd?query=" + ids.join(","),
                        type: "POST",
                        success: function (res) {
                            if (res.Code == 1) {
                                //移除审核通过的数据

                                $.messager.alert('操作提示', res.Message, 'info');
                                $("#flexigridData").datagrid("reload");
                                //$("#flexigridData").datagrid("clearSelections");
                            }
                            else {
                                $.messager.alert('操作提示', res.Message, 'info');
                            }

                        }
                    })
                }
            });
        }
    }

    //详情
    function detailInfo(id)
    {
        window.location.href = '../EmployeeGoonPayment2/ApproveDetails/' + id;
    }
</script>

