@model Langben.DAL.SingleStopPaymentView
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
<script src="~/Scripts/JScriptIndex.js"></script>
<div id="divQuery" data-options="region:'north',border:false" style="height:80px">
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.EmployeeName):
        </div>
        <div class="input_search-field">
            <input type="text" id="EmployeeName" class="easyui-textbox" style="height:26px" />
        </div>
    </div>

    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.CompanyName):
        </div>

        <div class="input_search-field">
            <select id="Company" class="easyui-combobox" style="height:26px">
                <option value='0' selected='selected'>--请选择--</option>
            </select>
        </div>

    </div>
    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.CertificateNumber):
        </div>
        <div class="input_search-field">
            <p class="cerNo">
                <textarea rows="2" id="CardIDs" class="CertificateNumber"></textarea>
            </p>
        </div>
    </div>
    <div class="input_search input_search_btn">

        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>

</div>


<script type="text/javascript" language="javascript">
    $(function () {

        $.ajax({
            type: 'POST',
            url: 'api/EmployeeStopPaymentSingleApi/PostCompanyData',
            //data: 'id=' + $("#ddlStyle").val(),
            dataType: 'json',
            async: false, //同步
            success: function (data) {
                $("#Company").html("<option value='0' selected='selected'>--请选择--</option>");
                $.each(data, function (i, itemValue) {
                    $("#Company").append("<option value = '" + itemValue.ID + "'>" + itemValue.CompanyName + "</option>");
                });

                $('#Company').combobox({
                    editable: true,
                    onSelect: function () {
                        //如果不写onSelect方法，就无法获取下拉框选择的值
                    }

                });
            },
            error: function () {
                $("#Company").html("<option value='0'  selected='selected'>--请选择--</option>");
            }
        });


        $('#flexigridData').datagrid({
            title: '员工单人停缴', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            fit:true,
            collapsible: false,
            url: 'api/EmployeeStopPaymentSingleApi/PostData', //获取数据的url
            sortName: 'Id',
            sortOrder: 'desc',
            idField: 'Id',
            columns: [[


                { field: 'CompanyName', title: '@Html.DisplayNameFor(model => model.CompanyName)', align: 'center', width: 300 }
                , { field: 'CertificateNumber', title: '@Html.DisplayNameFor(model => model.CertificateNumber)', align: 'center', width: 150 }
                , { field: 'EmployeeName', title: '@Html.DisplayNameFor(model => model.EmployeeName)', align: 'center', width: 97 }
                , {
                    field: "_operate1", title: "操作", width: 80, align: "center", hidden: false, formatter: function (value, row, index) {
                        return '<a href="#" onclick="openStopPage(' + index + ')">社保报减</a>';
                    }
                }
                , { field: 'CanSotpInsuranceKindName', title: '@Html.DisplayNameFor(model => model.CanSotpInsuranceKindName)', align: 'center', width: 150 }
            ]],
            pagination: true,
            rownumbers: true

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
    });

    //“查询”按钮，弹出查询框
    function flexiQuery() {

        $('#flexigridData').datagrid('clearSelections');

        $('#flexigridData').datagrid('loadData', { total: 0, rows: [] });

        //将查询条件按照分隔符拼接成字符串
        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {
            if (this.id)
                search = search + this.id + "&" + this.value + "^";
            else
                search = search + this.name + "&" + this.value + "^";
        });
        var companyId = $("#Company").combobox('getValue');
        if (companyId != "0") {
            search = search + "CompanyID&" + companyId + "^";
        }
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });


    };
    //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
    function flexiSelect() {

        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }

        var arr = [];
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].Id);
        }
        arr.push("^");
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].EmployeeAddId);
        }
        //主键列和显示列之间用 ^ 分割   每一项用 , 分割
        if (arr.length > 0) {//一条数据和多于一条
            returnParent(arr.join("&")); //每一项用 & 分割
        }
    }

    function openStopPage(index) {

        $('#flexigridData').datagrid("selectRow", index);
        var row = $("#flexigridData").datagrid("getSelected");
        window.location.href = "../EmployeeStopPaymentSingle/Create/" + row.CompanyEmployeeRelationId;

        //parent.addTab("单人报减","../EmployeeStopPaymentSingle/Create/" + row.CompanyEmployeeRelationId);

    }

</script>
