@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>客户分配</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")
</head>
<body>
    <div><input type="button" value="返回" onclick="back()" /></div>
    <div>
        <table>
            <tbody>
                <tr><td colspan="4">企业名称：<span id="qymc"></span></td></tr>
                <tr>
                    <td>员工客服</td>
                    <td>
                        <select id="kfry" onchange="ChangeSer()"></select>
                    </td>
                    <td>已服务人数：</td>
                    <td><span id="sercount"></span></td>
                </tr>
                <tr><td colspan="4"><input type="button" onclick="Fenpei()" value="分配" /></td></tr>
                <tr><td colspan="4"><input type="button" onclick="Fanhui()" value="返回" /></td></tr>
            </tbody>
        </table>

    </div>
</body>
</html>
<script>
    function back()
    {
        window.location.href = '/EmployeeAdd/AllotList';
    }
    $(function () {

        var id = '@ViewBag.id';//企业id
        var usernid = '@ViewBag.usernid';//客服人员
        var compname = '@ViewBag.compname';//企业名称
        var Sercount = ' @ViewBag.count';
        LoadKfry();
        $("#qymc").html("");
        $("#sercount").html("");
        $("#qymc").append(compname);//企业名称
        $("#sercount").append(Sercount);//服务人数

        // $("#kfry").val(usernid);//客服人员

    });

    //加载客服人员
    function LoadKfry() {
        var usernid = '@ViewBag.usernid';//客服人员
        $.ajax({
            //要用post方式
            type: "Post",
            //方法所在页面和方法名
            url: "/EmployeeAdd/Kfry?CityCode=1",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                debugger;
                htmlstr = "";
                for (var i = 0; i < data.length; i++) {
                    if (usernid == data[i].UserID) {

                        htmlstr += " <option value=" + data[i].UserID + " selected='selected'>" + data[i].RealName + "</option>";
                    }
                    else {
                        htmlstr += " <option value=" + data[i].UserID + ">" + data[i].RealName + "</option>";
                    }

                }
                $("#kfry").html("");
                $("#kfry").append(htmlstr);
            },
            error: function (err) {
                alert(err);
            }
        });
    }

    function Fanhui()
    {
        window.location.href = '/EmployeeAdd/ApproveList';
    }
    //分配客户
    function Fenpei() {


        var id = '@ViewBag.id';//企业id
        var usernid = $("#kfry").val();//客服人员

        $.ajax({
            type: 'POST',
            url: '../api/EmployeeAddApi/FenpeiAction?id=' + id + "&usernid=" + usernid,
          //  data: { "id": id, "usernid": usernid },  //最正确的Ajax传参
            dataType: 'json',
            async: true, //异步
            success: function (data) {
                alert(data);
                window.location('/EmployeeAdd/AllotList');

            },
            error: function () {
                alert(data);
            }
        });
    }
    function ChangeSer()
    {
        var usernid = $("#kfry").val();
        $.ajax({
            type: 'POST',
            url: '/EmployeeAdd/Sercount',
            data: { "UserID_YG": usernid },  //最正确的Ajax传参
            dataType: 'json',
            async: true, //异步
            success: function (data) {

                $("#sercount").html("");
                $("#sercount").append(data);
            },
            error: function () {

                alert(data);
            }
        });
    }
</script>

