@model Langben.DAL.EmployeeApprove
@{ Layout = "~/Views/Shared/Index.cshtml"; }
@using Common
@using Models
<script src="~/Scripts/JScriptIndex.js"></script>
<div id="divQuery" data-options="region:'north',border:false" style="height:130px">

    <div class='input_search'>
        <div class='input_search-label'>
            <input type="checkbox" id="ckAll" onchange="CheckAll(this)" />
            @Html.LabelFor(model => model.InsuranceKinds):
        </div>
        <div class='input_search-field' style="width:780px">
            @Html.CheckBoxList("InsuranceKinds", Models.SysFieldModels.GetSelectList(typeof(Common.EmployeeAdd_InsuranceKindId)), new { style = "width:20px" })
        </div>
    </div>
    <div class="clearfix" style="clear:both"></div>

    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.CompanyName):
        </div>
        <div class="input_search-field">
            @Html.TextBox("CompanyName", "", new { @class = "easyui-textbox", @style = "height:26px" })
        </div>
    </div>
    <div class='input_search'>
        <div class='input_search-label'>
            @Html.LabelFor(model => model.Name):
        </div>
        <div class='input_search-field'>
            @Html.TextBox("Name", "", new { @class = "easyui-textbox", @style = "height:26px" })
        </div>
    </div>
    <div class='input_search'>
        <div class='input_search-label'>
            @Html.LabelFor(model => model.YearMonth):
        </div>
        <div class='input_search-field'>
            <input type="text" id="YearMonth" class="Wdate" onclick="WdatePicker({dateFmt:'yyyyMM',realDateFmt:'yyyyMM'})" />
        </div>
    </div>
    <div class='input_search'>
        <div class='input_search-label'>
            @Html.LabelFor(model => model.CollectState):
        </div>
        <div class='input_search-field'>
            @Html.DropDownList("CollectState", Models.SysFieldModels.GetEnumList(typeof(Common.CollectState)), new { onchange = "CollectStateChange(this.value)" })
        </div>
    </div>


    <div class="input_search">
        <div class="input_search-label">
            @Html.LabelFor(model => model.CertificateNumber):
        </div>
        <div class="input_search-field">
            <p class="cerNo">
                @Html.TextArea("CertificateNumber", new { @class = "CertificateNumber" })
            </p>

        </div>
    </div>


    <div class='input_search input_search_btn'>
        <a href="#" onclick="flexiQuery()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
            查 询
        </a>
    </div>


</div>


<script type="text/javascript" language="javascript">
    $(function () {

        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:checked,:password").each(function () {
            if (this.id)
                search = search + this.id + "&" + this.value + "^";
            else
                search = search + this.name + "&" + this.value + "^";
        });
        // $('#flexigridData').datagrid(null);
        $('#flexigridData').datagrid({
            title: '社保专员报增信息', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            fit:true,
            collapsible: false,
            queryParams: { search: search },
            url: '../api/EmployeeAddApi/PostSupplierList', //获取数据的url
            toolbar: [
                 {
                     id: "excel",
                     text: '提取信息',
                     iconCls: 'icon-excel',
                     handler: function () {
                         return doExcel();
                     }
                 },
                 {
                     id: "excel2",
                     text: '导出Excel',
                     iconCls: 'icon-excel',
                     handler: function () {
                         return doExcel();
                     }
                 }
                 , {
                     id: "back",
                     text: '退回信息',
                     iconCls: 'icon-remove',
                     handler: function () {
                         return doBack();
                     }
                 },

                  {
                      id: "Detailed",
                      text: '详细',
                      iconCls: 'icon-search',
                      handler: function () {
                          return getDetailed();
                      }
                  }
            ],
            columns: [[
                { field: 'CompanyName', title: '@Html.DisplayNameFor(model => model.CompanyName)', align: 'center', width: 300 }
                , { field: 'Name', title: '@Html.DisplayNameFor(model => model.Name)', align: 'center', width: 80 }
                , { field: 'CertificateNumber', title: '@Html.DisplayNameFor(model => model.CertificateNumber)', align: 'center', width: 160 }
                , { field: 'City', title: '@Html.DisplayNameFor(model => model.City)', align: 'center', width: 80 }
               // , { field: 'PoliceAccountNature', title: '@Html.DisplayNameFor(model => model.PoliceAccountNature)', width: 100 }
                , { field: 'InsuranceKinds', title: '@Html.DisplayNameFor(model => model.InsuranceKinds)', align: 'center', width: 260 }
                , { field: 'YearMonth', title: '@Html.DisplayNameFor(model => model.YearMonth)', align: 'center', width: 80 }
            ]],
            pagination: true,
            rownumbers: true

        });

        var parent = window.dialogArguments; //获取父页面
        if (parent == "undefined" || parent == null) {
            //    不是在iframe中打开的
        } else {
            //隐藏所有的按钮和分隔符
            $(".l-btn.l-btn-plain").hide();
            $(".datagrid-btn-separator").hide();
            //添加选择按钮
            $('#flexigridData').datagrid("addToolbarItem", [{ "text": "选择", "iconCls": "icon-ok", handler: function () { flexiSelect(); } }]);
        }
        var CollectState = $("#CollectState").val();
        CollectStateChange(CollectState);
        //$('#excel2').attr("style", "display:none");
    });
    function CollectStateChange(e) {
        if (e == "已提取") {
            $('#excel2').show();
            $('#back').show();
            $('#Detailed').show();
            $('#excel').hide();

        } else {
            $('#excel').show();
            $('#back').show();
            $('#Detailed').show();
            $('#excel2').hide();
        }
        flexiQuery();
    }
    //“查询”按钮，弹出查询框
    function flexiQuery() {
        $('#flexigridData').datagrid('loadData', { total: 0, rows: [] });
        //将查询条件按照分隔符拼接成字符串
        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:checked,:password").each(function () {
            if (this.id)
                search = search + this.id + "&" + this.value + "^";
           
        });
        //执行查询
        $('#flexigridData').datagrid('load', { search: search });
    };
    //“选择”按钮，在其他（与此页面有关联）的页面中，此页面以弹出框的形式出现，选择页面中的数据
    function flexiSelect() {

        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }

        var arr = [];
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].Id);
        }
        arr.push("^");
        for (var i = 0; i < rows.length; i++) {
            arr.push(rows[i].Wage);
        }
        //主键列和显示列之间用 ^ 分割   每一项用 , 分割
        if (arr.length > 0) {//一条数据和多于一条
            returnParent(arr.join("&")); //每一项用 & 分割
        }
    }
    //导航到详细的按钮
    function getDetailed() {

        var arr = $('#flexigridData').datagrid('getSelections');
        var e = jQuery("#CollectState  option:selected").text();
        //alert(e);
        //var e = $("#CollectState").value;
        var Parameter;//未提取的（员工客服已确认）
        if (e == "已提取") {
            Parameter = 2;
        } else {
            Parameter = 1;
        }
        if (arr.length == 1) {
            window.location.href = "../EmployeeAdd/CustomerDetailed?id=" + arr[0].CompanyEmployeeRelationId + "&YearMonth=" + arr[0].YearMonth + "&Parameter=" + Parameter;

        } else {
            $.messager.alert('操作提示', '请选择一条数据!', 'warning');
        }
        return false;
    }
    //导出信息
    function doExcel() {

        var search = "";
        $('#divQuery').find(":text,:selected,select,textarea,:hidden,:checked,:password").each(function () {

            search = search + this.id + "&" + this.value + "^";
        });

        var p = $('#flexigridData').datagrid('options').columns[0];
        var field = [];//所有的列名
        var title = [];//所有的标题名称
        $(p).each(function () {
            field.push(this.field);
            title.push(this.title);
        });
        $.ajax({
            url: "../api/EmployeeAddApi/SupplierExport1",
            type: "POST",
            data: { "search": search },  //最正确的Ajax传参
            success: function (res) {


                if (res.Code == 1) {
                    window.open("../" + res.URL);
                   
                    $('#flexigridData').datagrid('reload');
                }
                else {
                    alert(res.Message);
                }

            },
            error: function () {

                alert('导出失败！');


            }

        })

    };
    //退回信息的按钮
    function doBack() {
        var allInsuranceKind = '';
        var rows = $('#flexigridData').datagrid('getSelections');
        if (rows.length == 0) {
            $.messager.alert('操作提示', '请选择数据!', 'warning');
            return false;
        }
        var arr = [];
        var CompanyEmployeeRelationId = [];
        var InsuranceKind = [];
        for (var i = 0; i < rows.length; i++) {
            allInsuranceKind = escape(rows[i].InsuranceKinds);
            arr.push(rows[i].AddIds);
            CompanyEmployeeRelationId.push(rows[i].CompanyEmployeeRelationId);
            InsuranceKind.push(allInsuranceKind);

        }
        var cityid = rows[0].CityID;
        var arr1 = [];
        for (var i = 0; i < rows.length; i++) {

            arr1.push(rows[i].CompanyEmployeeRelationId);
        }
        var count = rows.length.toString();
        $.messager.confirm('操作提示', "确认退回这 " + arr.length + " 项吗？", function (r) {
            if (r) {
                window.location.href = "../EmployeeAdd/EmployeeFallback?countnn=" + count + "&ids=" + arr.join("") + "&Cityid=" + cityid + "&CompanyEmployeeRelationId=" + CompanyEmployeeRelationId.join("") + "&alltype=" + InsuranceKind.join("");
            }
        });
    };
    //险种全选
    function CheckAll(obj) {
        if ($(obj).prop('checked')) {
            $("input[name='InsuranceKinds']").prop("checked", true);
        } else {
            $("input[name='InsuranceKinds']").prop("checked", false);
        }
    }
</script>

