@model Langben.DAL.Model.SupplierInfo
@{
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/easyui")
<script src="~/Scripts/Myl.js"></script>

<div class="easyui-panel" style="height:auto;padding:5px;">
    <form id="form1" action="/api/SupplierApi/PostNewSupplier" method="post">
        <span>基本信息</span>
        <table>
            <tr>
                <td style="width:120px">@Html.LabelFor(model =>model.BasicInfo.Code)：</td>
                <td style="width:200px">
                    @Html.TextBoxFor(model => model.BasicInfo.Code)
                    @Html.ValidationMessageFor(model => model.BasicInfo.Code)
                </td>
                <td style="width:120px"><span style="color: red; float:none">*</span>@Html.LabelFor(model => model.BasicInfo.Name)：</td>
                <td style="width:200px">
                    @Html.TextBoxFor(model => model.BasicInfo.Name, new { @onblur = "CheckSupplierName(this)" })
                    @Html.ValidationMessageFor(model => model.BasicInfo.Name)
                    <span id="spCompanyName" style="display:none;color:red" class="">该供应商已存在</span>
                </td>
            </tr>  
            <tr>
                <td>组织机构代码：</td>
                <td>
                    @Html.TextBoxFor(model => model.BasicInfo.OrganizationCode)
                    @Html.ValidationMessageFor(model => model.BasicInfo.OrganizationCode)
                </td>
                <td><span style="color: red; float:none">*</span>@Html.LabelFor(model => model.BasicInfo.RegisterAddress)：</td>
                <td>
                    @Html.TextBoxFor(model => model.BasicInfo.RegisterAddress)
                    @Html.ValidationMessageFor(model => model.BasicInfo.RegisterAddress)
                </td>
            </tr>
            <tr>
                <td><span style="color: red; float:none">*</span>@Html.LabelFor(model => model.BasicInfo.OfficeAddress)：</td>
                <td>
                    @Html.TextBoxFor(model => model.BasicInfo.OfficeAddress)
                    @Html.ValidationMessageFor(model => model.BasicInfo.OfficeAddress)
                </td>
                <td></td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td><span style="color: red; float:none">*</span>缴纳地：</td>
                <td>
                    <div id="divCity">
                    </div>
                    <span id="spCity" style="display:none;color:red" class="">请选择缴纳地</span>
                </td>
            </tr>
        </table>

        <input type="hidden" id="LinkMan" name="LinkMan" />
        <input type="hidden" id="Bank" name="Bank" />
        <input type="hidden" id="Bill" name="Bill" />
        <input type="hidden" id="Payment" name="Payment" />
        <input type="hidden" id="Price" name="Price" />
        <input type="hidden" id="LadderPrice" name="LadderPrice" />
        <input type="hidden" id="NatureCityId" name="NatureCityId" />
    </form>

    <div id="pLink" class="easyui-panel" title="联系人信息" style="width:100%;height:250px;padding:10px;"
         data-options="collapsible:true,collapsed:true,minimizable:false,maximizable:false,closable:false">
        <table id="tbLink" width="700">
            <tr style="background-color:gray">
                <td>姓名</td>
                <td>职务</td>
                <td>地址</td>
                <td>手机号</td>
                <td>固话</td>
                <td>邮箱</td>
                <td>默认联系人</td>
                <td>操作</td>
            </tr>
        </table>
        <table id="tbLinkBase">
            <tr>
                <td style="width:120px;"> <span style="color: red; float:none">*</span>姓名：</td>
                <td style="width:200px"> <input type="text" id="LinkManName" maxlength="20" /></td>
                <td style="width:120px"> 职务： </td>
                <td style="width:200px"><input type="text" id="LinkManPosition" maxlength="20" /> </td>
            </tr>
            <tr>
                <td> 地址：</td>
                <td>   <input type="text" id="LinkManAddress" maxlength="20" class="ignore" /> </td>
                <td> 手机号： </td>
                <td>      <input type="text" id="LinkManMobile" maxlength="11" class="ignore" />  </td>
            </tr>
            <tr>
                <td> 固话： </td>
                <td> <input type="text" id="LinkManTelephone" maxlength="25" class="ignore" onkeyup="isInt(this)" /> </td>
                <td> 邮箱：</td>
                <td> <input type="text" id="LinkManEmail" maxlength="25" class="ignore" /> </td>
            </tr>
            @*<tr>
                    <td> 备注：</td>
                    <td colspan="3">  <textarea cols="5" maxlength="100" id="LinkManRemark" rows="2"></textarea>  </td>
                </tr>*@
            <tr>
                <td><a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="AddLink()">添加联系人</a></td>
                <td colspan="3"><span id="spLink" style="display: none; color: red"></span></td>
            </tr>
        </table>
    </div>

    <div id="pBank" class="easyui-panel" title="银行信息" style="width:100%;height:200px;padding:10px;"
         data-options="collapsible:true,collapsed:true,minimizable:false,maximizable:false,closable:false">
        <table id="tbBank" width="700">
            <tr style="background-color:gray">
                <td>开户行名称</td>
                <td>银行账号</td>
                <td>操作</td>
            </tr>
        </table>
        <table id="tbBankBase">
            <tr>
                <td style="width:120px;"><span style="color: red; float:none">*</span>开户行名称：</td>
                <td style="width:200px;"><input type="text" id="BankName" maxlength="30" class="ignore" /> </td>
                <td style="width:120px;"><span style="color: red; float:none">*</span>银行账号：</td>
                <td style="width:200px;"> <input type="text" id="BankAccount" maxlength="20" class="ignore" /> </td>
            </tr>
            <tr>
                <td><a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="AddBank()">添加银行信息</a></td>
                <td colspan="3"><span id="spBank" style="display: none; color: red"></span></td>
            </tr>
        </table>
    </div>

    <div id="pBill" class="easyui-panel" title="开票信息" style="width:100%;height:200px;padding:10px;"
         data-options="collapsible:true,collapsed:true,minimizable:false,maximizable:false,closable:false">
        <table id="tbBill" width="700">
            <tr style="background-color:gray">
                <td>开票名称</td>
                <td>税务登记证号</td>
                <td>操作</td>
            </tr>
        </table>
        <table id="tbBillBase">
            <tr>
                <td style="width:120px;"><span style="color: red; float:none">*</span>开票名称：</td>
                <td style="width:200px;"><input type="text" id="BillName" maxlength="30" class="ignore" /> </td>
                <td style="width:120px;"><span style="color: red; float:none">*</span>税务登记证号：</td>
                <td style="width:200px;"> <input type="text" id="TaxRegistryNumber" maxlength="20" class="ignore" /> </td>
            </tr>
            <tr>
                <td><a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="AddBill()">添加开票信息</a></td>
                <td colspan="3"><span id="spBill" style="display: none; color: red"></span></td>
            </tr>
        </table>
    </div>

    @*<div id="pPay" class="easyui-panel" title="回款信息" style="width:100%;height:200px;padding:10px;"
         data-options="collapsible:true,collapsed:true,minimizable:false,maximizable:false,closable:false">
        <table id="tbPay" width="700">
            <tr style="background-color:gray">
                <td>付款名称</td>
                <td>操作</td>
            </tr>
        </table>
        <table id="tbPayBase">
            <tr>
                <td style="width:120px;"><span style="color: red; float:none">*</span>付款名称：</td>
                <td style="width:200px;"><input type="text" id="PaymentName" maxlength="30" class="ignore" /> </td>
            </tr>
            <tr>
                <td><a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="AddPay()">添加付款信息</a></td>
                <td colspan="3"><span id="spPay" style="display: none; color: red"></span></td>
            </tr>
        </table>
    </div>*@

    <div id="pPrice" class="easyui-panel" title="企业报价" style="width:100%;height:200px;padding:10px;"
         data-options="collapsible:true,collapsed:true,minimizable:false,maximizable:false,closable:false">
        <table id="tbPrice" width="700">
            <tr style="background-color:gray">
                <td style="display:none">ID</td>
                <td>产品</td>
                <td>整户服务费</td>
                <td>补缴服务费</td>
                <td>操作</td>
            </tr>
        </table>
        <table id="tbPriceBase">
            <tr>
                <td style="width:120px;"><span style="color: red; float:none">*</span>产品：</td>
                <td style="width:200px;" colspan="3">
                    <select id="ddlProductID1" name="ddlProductID1" style="font-size:14px;width:136px;" onchange="GetProductID(this)">
                        <option value="">--请选择--</option>
                        <option value="大户代理">大户代理</option>
                        <option value="大户代理">单立户代理</option>
                    </select>
                    <input type="hidden" id="ProductID1" name="ProductID1" />
                </td>
            </tr>
            <tr>
                <td style="width:120px;"><span style="color: red; float:none">*</span>整户服务费：</td>
                <td style="width:200px;"><input type="text" id="LowestPrice" maxlength="30" class="ignore" onkeyup="isMoney(this)" /> </td>
                <td style="width:120px;"><span style="color: red; float:none">*</span>补缴服务费：</td>
                <td style="width:200px;"><input type="text" id="AddPrice" maxlength="30" class="ignore" onkeyup="isMoney(this)" /> </td>
            </tr>
            <tr>
                <td><a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="AddPrice()">添加企业报价</a></td>
                <td colspan="3"><span id="spPrice" style="display: none; color: red"></span></td>
            </tr>
        </table>
    </div>

    <div id="pLadder" class="easyui-panel" title="企业阶梯报价" style="width:100%;height:200px;padding:10px;"
         data-options="collapsible:true,collapsed:true,minimizable:false,maximizable:false,closable:false">
        @*<span>企业阶梯报价</span>*@
        <table id="tbLadderPrice" width="700">
            <tr style="background-color:gray">
                <td style="display:none">ID</td>
                <td>产品</td>
                <td>单人服务费</td>
                <td>起始阶梯</td>
                <td>终止阶梯</td>
                <td>操作</td>
            </tr>
        </table>
        <table id="tbLadderPriceBase">
            <tr>
                <td style="width:120px;"><span style="color: red; float:none">*</span>产品：</td>
                <td style="width:200px;">
                    <select id="ddlProductID2" name="ddlProductID2" style="font-size:14px;width:136px;" disabled="disabled" onchange="GetProductID(this)">
                        <option value="">--请选择--</option>
                        <option value="大户代理">大户代理</option>
                        <option value="单立户代理">单立户代理</option>
                    </select>
                    <input type="hidden" id="ProductID2" name="ProductID2" />
                </td>
                <td style="width:120px;"><span style="color: red; float:none">*</span>单人服务费：</td>
                <td style="width:200px;"><input type="text" id="SinglePrice" name="clear" maxlength="30" class="ignore" onkeyup="isMoney(this)" /> </td>
            </tr>
            <tr>
                <td><span style="color: red; float:none">*</span>起始阶梯：</td>
                <td><input type="text" id="BeginLadder" name="clear" maxlength="30" class="ignore" onkeyup="isInt(this)" /> </td>
                <td><span style="color: red; float:none">*</span>终止阶梯：</td>
                <td><input type="text" id="EndLadder" name="clear" maxlength="30" class="ignore" onkeyup="isInt(this)" /> </td>
            </tr>
            <tr>
                <td><a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="AddLadderPrice()">添加阶梯报价</a></td>
                <td colspan="3"><span id="spLadderPrice" style="display: none; color: red"></span></td>
            </tr>
        </table>
    </div>

  
</div>

<br />
<div style="text-align:center">
    <input type="button" class="a2 f2" id="btnSubmit" value="提交" onclick="CreateSupplier();" />
    <input type="button" class="a2 f2" value="返回" onclick="GoBack();" />
</div>

<script type="text/javascript">
    $(function () {
        Citylist();
        $("#form1").submit(function (form) {
            if (form.result) {
                ajaxForm(this, this.action);
            }
            return false;
        });
        //用于查找指定的元素在数组中的位置
        Array.prototype.indexOf = function (val) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] == val) return i;
            }
            return -1;
        }
        //使用js数组自己固有的函数去删除这个元素
        Array.prototype.remove = function (val) {
            var index = this.indexOf(val);
            if (index > -1)
                this.splice(index, 1);
        }
        //给div绑定onclick事件
        $(".panel-header").bind("click", function () { Expand(this); });
    });
    function ajaxForm(form, url) {
        $("#btnSubmit").attr({ "disabled": "disabled" });
        $.ajax({
            url: url,
            type: "Post",
            data: $("#form1").serialize(),
            dataType: "json",
            success: function (data) {
                $("#btnSubmit").removeAttr("disabled");
                if (data.Code == 0) {//失败
                    $.messager.alert('操作提示', data.Message, 'info');
                    $("#LinkMan").val('');
                    $("#Bank").val('');
                    $("#Bill").val('');
                    $("#Payment").val('');
                    $("#Price").val('');
                    $("#LadderPrice").val('');
                }
                else {
                    if ($.messager) {
                        $.messager.defaults.ok = '确定';
                        //$.messager.defaults.cancel = '返回';

                        $.messager.alert('', data.Message, 'info', function (r) {
                            //window.location.href = 'javascript:history.go(-1)';
                            GoBack();
                        });
                    }
                }
            }
        });
    }
    //获得下级节点
    function GetSonNode(obj) {
        var parentID = obj.value;
        var parentName = $("#" + obj.id).find("option:selected").text();
        if (parentID != "") {
            $.ajax({
                type: 'Get',
                url: '/api/CRM_ZD_HYApi/GetHYNode/' + parentID,
                dataType: 'json',
                async: false, //同步
                success: function (data) {
                    $("#ddlSonHY").html("<option value=''>--请选择--</option>");
                    var count = 0;
                    var jsonArray = eval("(" + data + ")");
                    $.each(jsonArray, function (i, itemValue) {
                        count++;
                        $("#ddlSonHY").append("<option value = '" + itemValue.Code + "'>" + itemValue.HYMC + "</option>");
                        //$("<option><option>").val(itemValue.ID).html(itemValue.CPLXMC)
                    })
                    //if (count == 1) {
                    //    $("#ddlPost").val(itemID);
                    //}
                },
                error: function () {
                    $("#ddlSonHY").html("<option value=''>--请选择--</option>");
                }
            });
        }
        else {
            $("#ddlSonHY").html("<option value=''>--请选择--</option>");
        }
    }

    //添加联系人
    var linkCount = 0;
    function AddLink() {
        var name = $.trim($("#LinkManName").val());
        if (name == "") {
            $("#spLink").html("请添写联系人姓名！");
            $("#spLink").show();
            //$("#LinkManName").attr("class", "input-validation-error");
            $("#LinkManName").focus();
            return false;
        }
        var post = $.trim($("#LinkManPosition").val());
        var address = $.trim($("#LinkManAddress").val());
        var mobile = $.trim($("#LinkManMobile").val());
        var telephone = $.trim($("#LinkManTelephone").val());
        var email = $.trim($("#LinkManEmail").val());
        if (email != "" && !CheckEmail(email)) {
            $("#spLink").html("请检查邮箱格式！");
            $("#spLink").show();
            $("#LinkManEmail").focus();
            return false;
        }
        if (mobile != "" && !CheckMobile(mobile)) {
            $("#spLink").html("请正确添写手机号！");
            $("#spLink").show();
            $("#LinkManMobile").focus();
            return false;
        }
        //var remark = $.trim($("#LinkManRemark").val());
        var tr = "<tr id='row" + linkCount + "'><td>" + name + "</td><td>" + post + "</td><td>" + address + "</td><td>" + mobile + "</td><td>" + telephone + "</td><td>" + email + "</td><td><input type='checkbox' name='cbLink' onchange='CheckOne(this)'></input></td><td><a href='###' onclick='Del(\"row" + linkCount + "\",\"tbLink\");'>删除</a></td></tr>";
        $("#tbLink").append(tr);
        linkCount++;
        $("#tbLinkBase input[type='text']").val('');
        $("#spLink").hide();
    }
    //添加银行
    var bankCount = 0;
    function AddBank() {
        var bankName = $.trim($("#BankName").val());
        var bankAccount = $.trim($("#BankAccount").val());
        if (bankName == "") {
            $("#spBank").html("请填写开户行名称！");
            $("#spBank").show();
            $("#BankName").focus();
            return false;
        }
        if (bankAccount == "") {
            $("#spBank").html("请填写银行账号！");
            $("#spBank").show();
            $("#BankAccount").focus();
            return false;
        }
        var tr = "<tr id='row" + bankCount + "'><td>" + bankName + "</td><td>" + bankAccount + "</td><td><a href='###' onclick='Del(\"row" + bankCount + "\",\"tbBank\");;'>删除</a></td></tr>";
        $("#tbBank").append(tr);
        bankCount++;
        $("#tbBankBase input[type='text']").val('');
        $("#spBank").hide();
    }
    //添加开票
    var billCount = 0;
    function AddBill() {
        var billName = $.trim($("#BillName").val());
        var taxRegistryNumber = $.trim($("#TaxRegistryNumber").val());
        if (billName == "") {
            $("#spBill").html("请填写开票名称！");
            $("#spBill").show();
            $("#BillName").focus();
            return false;
        }
        if (taxRegistryNumber == "") {
            $("#spBill").html("请填写税务登记证号！");
            $("#spBill").show();
            $("#TaxRegistryNumber").focus();
            return false;
        }
        var tr = "<tr id='row" + billCount + "'><td>" + billName + "</td><td>" + taxRegistryNumber + "</td><td><a href='###' onclick='Del(\"row" + billCount + "\",\"tbBill\");'>删除</a></td></tr>";
        $("#tbBill").append(tr);
        billCount++;
        $("#tbBillBase input[type='text']").val('');
        $("#spBill").hide();
    }
    //添加企业报价
    var priceCount = 0;
    var arrProductID = new Array();
    function AddPrice() {
        var productID = $.trim($("#ProductID1").val());
        var productName = $("#ddlProductID1").find("option:selected").text();
        var lowestPrice = $.trim($("#LowestPrice").val());
        var addPrice = $.trim($("#AddPrice").val());
        if (arrProductID.length > 0) {//只只添加一种产品
            $("#spPrice").html("只能添加一条产品数据！");
            $("#spPrice").show();
            return false;
        }
        if (productID == "") {
            $("#spPrice").html("请选择产品！");
            $("#spPrice").show();
            $("#ddlProductID1").focus();
            return false;
        }
        if (!CheckNumber(lowestPrice)) {
            $("#spPrice").html("整户服务费不能为空且必需是数字！");
            $("#spPrice").show();
            $("#LowestPrice").focus();
            return false;
        }
        if (!CheckNumber(addPrice)) {
            $("#spPrice").html("补缴服务费不能为空且必需是数字！");
            $("#spPrice").show();
            $("#AddPrice").focus();
            return false;
        }

        var tr = "<tr id='row" + priceCount + "'><td style='display:none'>" + productID + "</td><td>" + productName + "</td><td>" + lowestPrice + "</td><td>" + addPrice + "</td><td><a href='###' onclick='DelPrice(\"row" + priceCount + "\",\"" + productID + "\");'>删除</a></td></tr>";
        $("#tbPrice").append(tr);
        arrProductID.push(productID);
        priceCount++;
        $("#tbPriceBase input[type='text']").val('');
        $("#ddlProductID2").val(productID);//给阶梯报价产品赋值
        $("#ProductID2").val(productID);
        $("#spPrice").hide();
        $('#pLadder').panel('expand', true);
    }
    //添加企业阶梯报价
    var ladderCount = 0;
    function AddLadderPrice() {
        var productID = $.trim($("#ProductID2").val());
        var productName = $("#ddlProductID2").find("option:selected").text();
        var singlePrice = $.trim($("#SinglePrice").val());
        var beginLadder = $.trim($("#BeginLadder").val());
        var endLadder = $.trim($("#EndLadder").val());
        if (productID == "") {
            $("#spLadderPrice").html("请选择产品！");
            $("#spLadderPrice").show();
            $("#ddlProductID2").focus();
            return false;
        }
        if (!CheckNumber(singlePrice)) {
            $("#spLadderPrice").html("单人服务费不能为空且必需是数字！");
            $("#spLadderPrice").show();
            $("#SinglePrice").focus();
            return false;
        }
        if (!CheckNumber(beginLadder)) {
            $("#spLadderPrice").html("起始阶梯不能为空且必需是数字！");
            $("#spLadderPrice").show();
            $("#BeginLadder").focus();
            return false;
        }
        if (!CheckNumber(endLadder)) {
            $("#spLadderPrice").html("终止阶梯不能为空且必需是数字！");
            $("#spLadderPrice").show();
            $("#EndLadder").focus();
            return false;
        }
        if (parseInt(beginLadder) >= parseInt(endLadder)) {
            $("#spLadderPrice").html("起始阶梯必须小于终止阶梯！");
            $("#spLadderPrice").show();
            $("#BeginLadder").focus();
            return false;
        }
        // 校验阶梯范围合法性
        if ($("#tbLadderPrice tr:gt(0)").length > 0) {
            var rangePrice = 0;
            $("#tbLadderPrice tr:gt(0)").each(function (i) {
                if (productID == $(this).find("td:eq(0)").html()) {
                    if ($(this).find("td:eq(3)").html() == beginLadder) {//两个不同范围的开始人数不能相同
                        rangePrice++;
                        return false;
                    }
                    // 如果范围1的开始人数小于范围2的开始人数，则范围1的结束人数也必须小于范围2的开始人数
                    if (parseInt($(this).find("td:eq(3)").html()) < parseInt(beginLadder) && parseInt($(this).find("td:eq(4)").html()) >= parseInt(beginLadder)) {
                        rangePrice++;
                        return false;
                    }
                    // 如果范围1的开始人数大于范围2的开始人数，则其必须大于范围2的结束人数
                    if (parseInt($(this).find("td:eq(3)").html()) > parseInt(beginLadder) && parseInt($(this).find("td:eq(3)").html()) <= parseInt(endLadder)) {
                        rangePrice++;
                        return false;
                    }
                }
                else {
                    return true;//跳出当前循环
                }
            });
            if (rangePrice > 0) {
                $("#spLadderPrice").html("请检查阶梯报价范围！");
                $("#spLadderPrice").show();
                return false;
            }
        }

        var tr = "<tr id='row" + ladderCount + "'><td style='display:none'>" + productID + "</td><td>" + productName + "</td><td>" + singlePrice + "</td><td>" + beginLadder + "</td><td>" + endLadder + "</td><td><a href='###' onclick='Del(\"row" + ladderCount + "\",\"tbLadderPrice\");'>删除</a></td></tr>";
        $("#tbLadderPrice").append(tr);
        ladderCount++;
        $("#tbLadderPriceBase input[name='clear']").val('');
        $("#spLadderPrice").hide();
    }

    //移除联系人//移除银行信息 //移除开票信息//移除回款信息//移除企业阶梯报价
    function Del(rowID, tableName) {
        $("#" + tableName).find("tr[id=" + rowID + "]").remove();
    }
    //移除企业报价
    function DelPrice(rowID, productID) {
        $("#tbPrice").find("tr[id=" + rowID + "]").remove();
        $("#tbLadderPrice").find("tr").not(":first").remove();
        arrProductID.remove(productID);
        $("#ddlProductID2").val('');//取消阶梯报价产品赋值
        $("#ProductID2").val('');
    }

    // 创建供应商
    function CreateSupplier() {
        var cityArray = [];
        $("#NatureCityId").val('');//重置
        $("input[name ='ckCity']:checked").each(function (i) {
            cityArray.push(this.value);
            $("#NatureCityId").val(cityArray);
        });
        if (check == 1) {
            $("#spCompanyName").show();
            $("#BasicInfo_Name").attr("class", "input-validation-error");
            $("#BasicInfo_Name").focus();
            return false;
        }
        if (cityArray.length == 0) {//缴纳地
            $("#spCity").show();
            return false;
        }
        if ($("#form1").valid()) {
            //联系人
            var linkManData = { 'data': GetLinkMan() };
            $("#LinkMan").val(JSON.stringify(GetLinkMan()));
            //银行
            var bankData = { 'data': GetBank() };
            $("#Bank").val(JSON.stringify(GetBank()));
            //开票
            $("#Bill").val(JSON.stringify(GetBill()));
            //回款
           
            //企业报价
            $("#Price").val(JSON.stringify(GetPrice()));
            //企业阶梯报价
            $("#LadderPrice").val(JSON.stringify(GetLadderPrice()));
           
            $("form").submit();
        }
       
        return false;
    }

    //得到产品id
    function GetProductID(obj) {
        var ddlName = obj.name;
        ddlName = ddlName.replace('ddl', '');
        var productID = obj.value;
        $("#" + ddlName).val(productID);
        //$("#ddlProductID2").val(obj.value);
    }
    // 验证公司名唯一
    var check = null;
    function CheckSupplierName(obj) {
        if (obj.value != "") {
            var supplierName = obj.value;
            $.ajax({
                type: 'Post',
                url: '/api/SupplierApi/CheckSupplierName?supplierID=&supplierName=' + supplierName,
                dataType: 'json',
                async: false, //同步
                success: function (data) {
                    check = data.Code;
                    if (check == 1) {
                        $("#spCompanyName").show();
                        $("#BasicInfo_Name").attr("class", "input-validation-error");
                    }
                    else {
                        $("#spCompanyName").hide();
                        $("#BasicInfo_Name").attr("class", "valid");
                    }
                },
                error: function () {
                    $.messager.alert('提示', "系统异常，请稍后再试！", 'info');
                }
            });
        }
    }
    //验证手机
    function CheckMobile(str) {
        var reg = /^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0-9]|170)\d{8}$/;
        if (!reg.test(str)) {
            return false;
        } else {
            return true;
        }
    }
    //验证邮箱
    function CheckEmail(str) {
        var reg = /^([\.a-zA-Z0-9_-])+@@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
        if (!reg.test(str)) {
            return false;
        }
        return true;
    }
    //验证数字
    function CheckNumber(str) {
        var reg = /^[0-9]+.?[0-9]*$/;
        if (!reg.test(str)) {
            return false;
        }
        return true;
    }
    //单选
    function CheckOne(obj) {
        //$(':checkbox[name=cbLink]').each(function () {
        if ($(obj).prop('checked')) {
            $(':checkbox[name=cbLink]').removeAttr('checked');
            $(obj).prop('checked', 'checked');
        }
    }

    function GoBack() {
        var tmp = '@Request.QueryString["tmp"]';
        window.location.href = "/Suppliers/Supplier/Index/?tmp=" + tmp;
    }
    //展开panel
    function Expand(obj) {
        $(obj).find(".panel-tool").find("a").click();
    }
    //得到联系人json数据
    function GetLinkMan() {
        var array = [];
        $.each($("#tbLink tr:not(:first)"), function () {
            array.push({
                'Name': $(this).children('td').eq(0).html().replace(/\&amp;/g, '*').replace(/\^/g, '*'),
                'Position': $(this).children('td').eq(1).html().replace(/\&amp;/g, '*').replace(/\^/g, '*'),
                'Address': $(this).children('td').eq(2).html().replace(/\&amp;/g, '*').replace(/\^/g, '*'),
                'Mobile': $(this).children('td').eq(3).html().replace(/\&amp;/g, '*').replace(/\^/g, '*'),
                'Telephone': $(this).children('td').eq(4).html().replace(/\&amp;/g, '*').replace(/\^/g, '*'),
                'Email': $(this).children('td').eq(5).html().replace(/\&amp;/g, '*').replace(/\^/g, '*'),
                'IsDefault': $(this).children('td').eq(6).find(':checkbox[name=cbLink]').is(":checked")==true?'Y':'N',
            });
        });
        return array;
    }
    //得到银行信息json数据
    function GetBank() {
        var array = [];
        $.each($("#tbBank tr:not(:first)"), function () {
            array.push({
                'Bank': $(this).children('td').eq(0).html(),
                'Account': $(this).children('td').eq(1).html()
            });
        });
        return array;
    }
    //得到开票json数据
    function GetBill() {
        var array = [];
        $.each($("#tbBill tr:not(:first)"), function () {
            array.push({
                //'PayName': $(this).children('td').eq(0).html(),
                'BillName': $(this).children('td').eq(0).html(),
                'TaxRegistryNumber': $(this).children('td').eq(1).html()
            });
        });
        return array;
    }
    //得到报价json数据
    function GetPrice() {
        var array = [];
        $.each($("#tbPrice tr:not(:first)"), function () {
            array.push({
                'ProductId': $(this).children('td').eq(0).html(),
                'LowestPrice': $(this).children('td').eq(2).html(),
                'AddPrice': $(this).children('td').eq(3).html()
            });
        });
        return array;
    }
    //得到阶梯报价json数据
    function GetLadderPrice() {
        var array = [];
        $.each($("#tbLadderPrice tr:not(:first)"), function () {
            array.push({
                'SinglePrice': $(this).children('td').eq(2).html(),
                'BeginLadder': $(this).children('td').eq(3).html(),
                'EndLadder': $(this).children('td').eq(4).html()
            });
        });
        return array;
    }
    //获取缴纳地
    function Citylist() {
        myAjax("/api/EmployeeAddApi/getCitylist", '', function (data) {
            $.each(data, function (i, item1) {
                $("#divCity").append("<input type='checkbox' id='ckCity" + i + "' name='ckCity' value='" + item1["Cityid"] + "' /><label for='ckCity" + i + "'>" + item1["Name"] + "</label>");
            });
        });
    }
</script>

 