@model Langben.DAL.EmployeeBank

@{
    Layout = "~/Views/Shared/Create.cshtml";
}
@using Common
@using Models
 
@section CurentPlace {
 
      创建  
 
 }
@using (Html.BeginForm("", "api/EmployeeBankApi/Post"))
{
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="创建" />
            <input class="a2 f2" type="button" onclick="BackList('EmployeeBank')" value="返回" />
        </legend>
        <div class="bigdiv">
                 
            <div class="editor-label">
                @Html.LabelFor(model => model.AccountName)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AccountName)
                @Html.ValidationMessageFor(model => model.AccountName)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.Bank)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Bank)
                @Html.ValidationMessageFor(model => model.Bank)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.BranchBank)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BranchBank)
                @Html.ValidationMessageFor(model => model.BranchBank)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.Account)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Account)
                @Html.ValidationMessageFor(model => model.Account)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.IsDefault)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsDefault)
                @Html.ValidationMessageFor(model => model.IsDefault)
            </div>
        <div class="editor-label">
            <a class="anUnderLine" onclick="showModalOnly('EmployeeId','../../Employee');">
                @Html.LabelFor(model => model.EmployeeId) 
            </a>：
        </div>
        <div class="editor-field">
            <div id="checkEmployeeId">            
            </div>
            @Html.HiddenFor(model => model.EmployeeId)
        </div>
            <br style="clear: both;" />
            <div class="editor-label">
                @Html.LabelFor(model => model.Remark)：
            </div>
            <div class="textarea-box">
                @Html.TextAreaFor(model => model.Remark) 
                @Html.ValidationMessageFor(model => model.Remark) 
            </div>        
            <div class="editor-label">
                @Html.LabelFor(model => model.State)：
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.State,Models.SysFieldModels.GetSysField("EmployeeBank","State"),"请选择")
            </div>
        </div>
    </fieldset>
} 


    
    <script type="text/javascript">

        $(function () {
            
        });
              

    </script>


