@model Langben.DAL.PoliceMasterRelationship

@{
    Layout = "~/Views/Shared/Details.cshtml";
}
@using Common
 @section CurentPlace {
    详细  
}
 
    <fieldset>
        <legend>
            <input class="a2 f2" type="button" onclick="window.location.href = 'javascript:history.go(-1)';" value="返回" />
        </legend>
        <div class="bigdiv">
                  
                <div class="display-label">
                      @Html.LabelFor(model => model.Name) :
                </div>
                <div class="display-field" id='Name'>
                </div>        
                <div class="display-label">
                      @Html.LabelFor(model => model.InsuranceKindId) :
                </div>
                <div class="display-field">
                    @if (Model.InsuranceKind != null)
                       {
                    @Model.InsuranceKind.Name
                    } 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.Tag) :
                </div>
                <div class="display-field" id='Tag'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.Style) :
                </div>
                <div class="display-field" id='Style'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.IsMaster) :
                </div>
                <div class="display-field" id='IsMaster'>
                </div>
                <br style="clear: both;" />
                <div class="display-label">
                    @Html.LabelFor(model => model.Remark) :
                </div>
                <div class="textarea-box">
                    @Html.TextAreaFor(model => model.Remark, new {  @readonly=true})                   
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.State) :
                </div>
                <div class="display-field" id='State'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CreateTime) :
                </div>
                <div class="display-field" id='CreateTime'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CreatePerson) :
                </div>
                <div class="display-field" id='CreatePerson'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UpdateTime) :
                </div>
                <div class="display-field" id='UpdateTime'>
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.UpdatePerson) :
                </div>
                <div class="display-field" id='UpdatePerson'>
                </div>
        </div>
    </fieldset>

<script type="text/javascript">

    $(function () {
        // 获取内容并显示
        var id = '@ViewBag.Id';
        $.ajax({
            url: "/api/PoliceMasterRelationshipApi/" + id,
            type: "POST",
            // async: false,
            success: function (res) {
		$("#Name").html(res.Name);$("#Tag").html(res.Tag);$("#Style").html(res.Style);$("#IsMaster").html(res.IsMaster);$("#Remark").val(res.Remark);$("#State").html(res.State);$("#CreateTime").html(res.CreateTime);$("#CreatePerson").html(res.CreatePerson);$("#UpdateTime").html(res.UpdateTime);$("#UpdatePerson").html(res.UpdatePerson);
            }
        })
    });
</script>

