@model Langben.DAL.PoliceMasterRelationship

@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Common
@using Models
 @section CurentPlace {
    修改  
}

@using (Html.BeginForm("", "api/PoliceMasterRelationshipApi/Put"))
{
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="修改" />
            <input class="a2 f2" type="button" onclick="BackList('PoliceMasterRelationship')" value="返回列表" />
        </legend>
        <div class="bigdiv">
            @Html.HiddenFor(model => model.Id )      
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>      
            <div class="editor-label">
                <a class="anUnderLine" onclick="showModalOnly('InsuranceKindId','../../InsuranceKind');">
                    @Html.LabelFor(model => model.InsuranceKindId) 
                </a>：
            </div>
            <div class="editor-field">
                <div id="checkInsuranceKindId">
                        @if(Model!=null)
                        {
                        if (null != Model.InsuranceKindId)                      
                        { 
                    <table id="@Model.InsuranceKindId"
                        class="deleteStyle">
                        <tr>
                            <td>
                                <img alt="删除"  title="点击删除" onclick="deleteTable('@Model.InsuranceKindId ','InsuranceKindId');" src="../../../Images/deleteimge.png" />
                            </td>
                            <td>
                                @Model.InsuranceKind.Name
                            </td>
                        </tr>
                    </table>
                    }} 
                </div>
                @Html.HiddenFor(model => model.InsuranceKindId)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.Tag)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Tag)
                @Html.ValidationMessageFor(model => model.Tag)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.Style)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Style)
                @Html.ValidationMessageFor(model => model.Style)
            </div>     
            <div class="editor-label">
                @Html.LabelFor(model => model.IsMaster)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsMaster)
                @Html.ValidationMessageFor(model => model.IsMaster)
            </div>
            <br style="clear: both;" />
            <div class="editor-label">
                @Html.LabelFor(model => model.Remark)：
            </div>
            <div class="textarea-box">
                @Html.TextAreaFor(model => model.Remark) 
                @Html.ValidationMessageFor(model => model.Remark) 
            </div>        
            <div class="editor-label">
                @Html.LabelFor(model => model.State)：
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.State,Models.SysFieldModels.GetSysField("PoliceMasterRelationship","State"),"请选择")
            </div>@Html.HiddenFor(model => model.CreateTime ) @Html.HiddenFor(model => model.CreatePerson ) 
        </div>
    </fieldset>
}



    <script type="text/javascript">

        $(function () {
            

            // 获取待编辑内容并显示
            var id = '@ViewBag.Id';
            $.ajax({
                url: "/api/PoliceMasterRelationshipApi/" + id,
                type: "POST",
                // async: false,
                success: function (res) {
                    $("#Id").val(res.Id);$("#Name").val(res.Name);$("#Tag").val(res.Tag);$("#Style").val(res.Style);$("#IsMaster").val(res.IsMaster);$("#Remark").val(res.Remark);$("#State").val(res.State);$("#CreateTime").val(res.CreateTime);$("#CreatePerson").val(res.CreatePerson);
                }
            })
        });
        

    </script>



