@model Langben.DAL.CRM_CompanyFinance_Bill_Audit

@{
    Layout = "~/Views/Shared/CRMCreate.cshtml";
}
@using Common
@using Models

@section CurentPlace {

    创建

}
@using (Html.BeginForm("", "../api/CRM_CompanyFinance_Bill_AuditApi/Post"))
{
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="保存" />
            <input class="a2 f2" type="button" onclick="CloseDialog()" value="关闭" />
        </legend>
        <div class="bigdiv">
            <input type="hidden" value="@ViewBag.CompanyID" name="CRM_Company_ID" />

            <div class="editor-label">
                <span style="color: red; float:none">*</span>
                @Html.LabelFor(model => model.BillName)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BillName)
                @Html.ValidationMessageFor(model => model.BillName)
            </div>

            <div class="editor-label">
                <span style="color: red; float:none">*</span>
                @Html.LabelFor(model => model.TaxRegistryNumber)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TaxRegistryNumber)
                @Html.ValidationMessageFor(model => model.TaxRegistryNumber)
            </div>
        </div>
    </fieldset>
}
<script type="text/javascript">

    $(function () {

    });


</script>


