@model Langben.DAL.PoliceAccountNature

@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using Common
@using Models
 @section CurentPlace {
    修改  
}

@using (Html.BeginForm("", "api/PoliceAccountNatureApi/Put"))
{
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="修改" />
            <input class="a2 f2" type="button" onclick="BackList('PoliceAccountNature')" value="返回列表" />
        </legend>
        <div class="bigdiv">
            @Html.HiddenFor(model => model.Id )      
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>        
            <div class="editor-label">
                @Html.LabelFor(model => model.Style)：
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Style,Models.SysFieldModels.GetSysField("PoliceAccountNature","Style"),"请选择")
            </div>
            <br style="clear: both;" />
            <div class="editor-label">
                @Html.LabelFor(model => model.Remark)：
            </div>
            <div class="textarea-box">
                @Html.TextAreaFor(model => model.Remark) 
                @Html.ValidationMessageFor(model => model.Remark) 
            </div>        
            <div class="editor-label">
                @Html.LabelFor(model => model.State)：
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.State,Models.SysFieldModels.GetSysField("PoliceAccountNature","State"),"请选择")
            </div>@Html.HiddenFor(model => model.CreateTime ) @Html.HiddenFor(model => model.CreatePerson )   
        <div class="editor-label">
            <a class="anUnderLine" onclick="showModalMany('CityId','../../City');">
                @Html.LabelFor(model => model.CityId) 
            </a>：
        </div>
        <div class="editor-field">
            <div id="checkCityId">
                @{string ids10 = string.Empty;
                if(Model!=null)
                {
                   foreach (var item10 in Model.City)
                   {
                       string item101 = string.Empty;
                       item101 += item10.Id + "&" + item10.Name;
                       if (ids10.Length > 0)
                       {
                           ids10 += "^" + item101;
                       }
                       else
                       {
                           ids10 += item101;
                       }
               
                <table id="@item101"
                    class="deleteStyle">
                    <tr>
                        <td>
                            <img  alt="删除" title="点击删除" onclick="deleteTable('@item101','CityId');"  src="../../../Images/deleteimge.png" />
                        </td>
                        <td>
                            @item10.Name
                        </td>
                    </tr>
                </table>
                }} }
                <input type="hidden" value="@ids10" name="CityIdOld" id="CityIdOld" />
                <input type="hidden" value="@ids10" name="CityId" id="CityId" />
            </div>
        </div>
        </div>
    </fieldset>
}



    <script type="text/javascript">

        $(function () {
            

            // 获取待编辑内容并显示
            var id = '@ViewBag.Id';
            $.ajax({
                url: "/api/PoliceAccountNatureApi/" + id,
                type: "POST",
                // async: false,
                success: function (res) {
                    $("#Id").val(res.Id);$("#Name").val(res.Name);$("#Style").val(res.Style);$("#Remark").val(res.Remark);$("#State").val(res.State);$("#CreateTime").val(res.CreateTime);$("#CreatePerson").val(res.CreatePerson);
                }
            })
        });
        

    </script>



