@model Langben.DAL.CRM_CompanyPrice

@{
    Layout = "~/Views/Shared/CRMEdit.cshtml";
}
@using Common
@using Models
@section CurentPlace {
    修改
}

@using (Html.BeginForm("", "../api/CRM_CompanyPrice_AuditApi/Put"))
{
    <fieldset>
        <legend>
            <input class="a2 f2" type="submit" value="保存" />
            <input class="a2 f2" type="button" onclick="CloseDialog()" value="关闭" />
        </legend>
        <div class="bigdiv">
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.CRM_Company_ID)

            <div class="editor-label">
                <span style="color: red; float:none">*</span>
                @Html.LabelFor(model => model.PRD_Product_ID) ：
            </div>
            <div class="editor-field">
                @Html.DropDownList("dll_PRD_Product_ID", (SelectList)ViewData["listPrd"], "请选择", new { @style = "font-size:14px;", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.PRD_Product_ID)
                @Html.Hidden("PRD_Product_ID")
            </div>

            <div class="editor-label">
                <span style="color: red; float:none">*</span>
                @Html.LabelFor(model => model.LowestPrice)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LowestPrice)
                @Html.ValidationMessageFor(model => model.LowestPrice)
            </div>
            <div class="editor-label">
                <span style="color: red; float:none">*</span>
                @Html.LabelFor(model => model.AddPrice)：
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AddPrice)
                @Html.ValidationMessageFor(model => model.AddPrice)
            </div>

        </div>
    </fieldset>
}



<script type="text/javascript">

    $(function () {
        // 获取待编辑内容并显示
        var id = '@ViewBag.Id';
        $.ajax({
            url: "/api/CRM_CompanyPriceApi/Get/" + id,
            type: "Get",
            // async: false,
            success: function (res) {
                $("#ID").val(res.ID);
                $("#CRM_Company_ID").val(res.CRM_Company_ID);
                $("#PRD_Product_ID").val(res.PRD_Product_ID);
                $("#dll_PRD_Product_ID").val(res.PRD_Product_ID);
                $("#LowestPrice").val(res.LowestPrice);
                $("#AddPrice").val(res.AddPrice);
            }
        })
    });

    function Return() {
        var companyID = $.trim($("#CRM_Company_ID").val());
        BackList('CRM_CompanyLadderPrice/Index/' + companyID);
    }
</script>



