@model Langben.DAL.COST_PayYiLiaoDaE

@{
    Layout = "~/Views/Shared/Details.cshtml";
}
@using Common
 @section CurentPlace {
    详细  
}
 
    <fieldset>
        <legend>
            <input class="a2 f2" type="button" onclick="window.location.href = 'javascript:history.go(-1)';" value="返回" />
        </legend>
        <div class="bigdiv">
                  
                <div class="display-label">
                      @Html.LabelFor(model => model.COST_PayRecordStatusID) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.COST_PayRecordStatusID) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.EmployeeName) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EmployeeName) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CertificateNumber) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CertificateNumber) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.PaymentSocialMonth) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PaymentSocialMonth) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.YearMonth) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.YearMonth) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.Radix) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Radix) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.PersonCost) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PersonCost) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CompanyCost) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CompanyCost) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.Total) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Total) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CreateTime) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CreateTime) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CreateUserID) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CreateUserID) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CreateUserName) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CreateUserName) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.BranchID) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.BranchID) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CertificateNumberSB) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CertificateNumberSB) 
                </div>      
                <div class="display-label">
                      @Html.LabelFor(model => model.CompanyId) :
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.CompanyId) 
                </div>
        </div>
    </fieldset>


